/********************************************************************* GERAL ***********************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #780C28;
    --secondary-color: #6E8E59;
    --tertiary-color: #CAE0BC;
    --fourth-color: #F7F7F7;
    --black-color: #151515;
    --white-color: #F7F7F7;

    font-family: "Montserrat", Arial, serif;
    font-size: 16px;
    color: var(--black-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h2{
    font-size: 2.5rem; /*40px*/
    margin: 60px 0 10px;
}

/********************************************************************* HEADER ***********************************************************************/
header{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px 40px;
    /*Navbar fixa*/
    position: sticky;
    top: 0;
    z-index: 1000;
}

header a{
    color: var(--white-color);
    font-weight: 500;
}

.logo{
    width: 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navbar-items:first-child a:hover{
    scale: 1.01;
    transition: 0.3s;
    font-weight: 700;
    text-decoration: underline;
}

.btn{
    border: 1px solid var(--white-color);
    border-radius: 10px;
    padding: 10px 15px;
}

.btn:hover{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--fourth-color);
    transition: 0.3s;
}

/********************************************************************* MAIN ***********************************************************************/
main{
    padding: 20px 40px;
    background-color: var(--white-color);
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    color: var(--primary-color);
    font-family: "Great Vibes", serif;
}

/*Hero*/
h1{
    font-size: 3.125rem;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    border: 1px solid red;
}

.banner-hero{
    width: 600px;
    height: 400px;
    background-image: url(../Imgs/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Produtos*/
.subtitle{
    font-weight: 700;
    font-size: 1rem;
    margin: 0 0 30px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;

    margin: 0 0 40px;
}

.card{
    width: 210px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--black-color);
    color: var(--white-color);
}

.card:hover{
    background-color: var(--primary-color);
    transition: 0.3s;
    color: var(--fourth-color);
}

.imagem-produto{
    width: 180px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.card p{
    margin: 15px 0 5px;
    font-weight: 700;
}

.categoria{
    padding: 2px 4px;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    font-size: 0.625rem;
}

.preco{
    font-size: 1.3rem;
    color: var(--tertiary-color);
}

.btn-card-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    font-weight: 600;
    margin: 15px 0 0;
    background-color: var(--secondary-color);
    padding: 10px 0;
    border-radius: 8px;
}

.btn-ver-mais{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: underline;
}

/*Galeria*/
/*Usar grid*/
.imagens-galeria {
    display: grid;
    
}
  
/*Depoimentos*/
.depoimentos{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    margin: 0 0 40px;
}

.depoimento{
    background-color: var(--tertiary-color);
    padding: 20px;
    width: 400px;
    font-size: 1rem;
    line-height: 24px;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid var(--tertiary-color);
}

.depoimento:hover {
    transform: translate3d(0, -10px, 0) scale(1.01);
    border: 1px solid var(--primary-color);
}

.bi-chat-quote{
    color: var(--primary-color);
    font-size: 1.875rem;
}

.feedback{
    margin: 15px auto;
}

.nome-pessoa{
    font-weight: 700;
    color: var(--primary-color);
}

.classificacao{
    color: var(--primary-color);
    margin: 10px 0 0;
}

/*Sobre nós*/
.cards-sobre-nos{
    display: block;
}

.card-sobre-nos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    margin-bottom: 30px;
}

.image-sobre-nos{
    width: 400px;
}

.image-sobre-nos img{
    width: 100%;
}

.texto-sobre-nos{
    width: 600px;
}

.texto-sobre-nos h3{
    font-size: 1.75rem; /*28px*/
}

.texto-sobre-nos p{
    margin: 15px auto;
    line-height: 24px;
    text-align: left;
}

.bi-stars{
    color: var(--primary-color);
    font-size: 1.5rem;
}




/********************************************************************* FOOTER ***********************************************************************/
footer{
    padding: 20px 40px;
}